@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Index
body {
    background: #777777;;
    font-family: 'Open Sans', sans-serif;
     }
p {
    text-align: center;
    color: #fff;
  }
em strong {
    color: #0a0a0a
}
h1 {
  text-align: center;
  color: #fff;
}
strong {
  color: #0a0a0a
}


//Header
.boxbtn{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.boxbtn li a{
  color: black;
  background-color: gold;
  padding: 10px;
  text-decoration: none;
  transition: background .4s;
}

.menu{
  background-color: #474747;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.menu ul{
  display: flex;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.menu ul li a {
  /*color: #0a0a0a;*/
  background-color: #474747;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: background .4s;
}

.menu ul li a:hover{
  background-color: rgb(24, 139, 233); 
  /*background-color: #262626; */
}

.menu-direita{
  float: right;
}

//Footer
$gray-medium-light: #EAEAEA;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: rgb(0, 0, 0);
  a {
    color: rgb(48, 47, 47);
    /*It means: that a:hover */
    &:hover{
      color: rgb(12, 12, 12);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}