<nav class="menu">
    <ul>
        <li > <a href="#">Minha Pagina</a> </li>

        <li> <a href="#">Editar</a> </li>

        <li class="menu-direita"> <a href="#">Sair</a> </li>        
    </ul>

    <div class="boxbtn">
    <li> <a href="#">MoonLight</a> </li>
    </div>
</nav>